<div class="row row-cols-1 row-cols-md-3 g-4">
  <h2>Monsters</h2>
  <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Monster" [(ngModel)]="searchString" >
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="clearFilter()">Clear</button>
    </div>
  </div>
  <div class="col" *ngFor="let monster of monsters | monsterfilter : searchString | paginate : {itemsPerPage:monstersPerPage, currentPage: p, id:'monst' } ;let i = index ; ">
    <div class="card">
      <div class="card-header text-center"  >{{monster.name}}</div>
      <div class="card-body">
        <div class="d-flex justify-content-around">
          <div class="d-flex">
            <p class="badge bg-danger">Hp </p >&nbsp; :
              <p>{{monster.hit_points}}&nbsp; 
                <small>( {{monster.hit_dice}} ) </small>
              </p>
          </div>
          <div>
            <p class="badge bg-warning">CA </p > :&nbsp;{{monster.armor_class}}
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p class="badge bg-danger">Str </p > :&nbsp; {{monster.strength}}
          </div>
          <div>
            <p class="badge bg-success">Dex </p > :&nbsp; {{monster.dexterity}}
          </div>
          <div>
            <p class="badge bg-secondary">Con </p > :&nbsp; {{monster.constitution}}
          </div>
        </div>
        <div class="d-flex justify-content-between">
          <div>
            <p class="badge bg-primary">Int </p > :&nbsp; {{monster.intelligence}}
          </div>
          <div>
            <p class="badge bg-warning">Wis </p > :&nbsp; {{monster.wisdom}}
          </div>
          <div>
            <p class="badge bg-info">Cha </p > :&nbsp; {{monster.charisma}}
          </div>  
        </div>
        <div class="accordion" id="monsterInfo">
          <div class="accordion-item" >
            <h2 class="accordion-header" [id]="'heading'+monster.index">
              <button class="accordion-button" [ngClass]="{ 'collapsed': monster.index != 0 }" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse'+monster.index" aria-expanded="true" [attr.aria-controls]="'collapse'+monster.index">
                Info
              </button>
            </h2>
            <div [id]="'collapse'+monster.index" class="accordion-collapse collapse" [ngClass]="{ 'show': monster.index == 0 }" [attr.aria-labelledby]="'heading'+monster.index" data-bs-parent="#monsterInfo">
              <div class="accordion-body">
                <div class="row">
                  <div class="col">
                    <div class="d-flex flex-column" >
                      <p><b>XP :</b> {{monster.xp}}</p>
                      <p><b>Size :</b> {{monster.size}}</p>
                      <p><b>Type :</b> {{monster.type}}</p>
                      <p><b>Challenge rating :</b> {{monster.challenge_rating}}</p>
                      <p><b>Alignment :</b> {{monster.alignment}}</p>
                      <p><b>Languages :</b> {{monster.languages}}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div class="box-info">
                      <b>Speed</b>
                      <p>Walk :{{monster.speed.walk}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-5 paginate-center ">
    <pagination-controls previousLabel="prev" nextLabel="next" (pageChange)="p = $event"
    id="monst"></pagination-controls>
  </div>


</div>
