.header{
  display: flex;
  justify-content: center;
  height: 80px;
  background-color: #001a34;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 90%;
  height: 20px;
}

.logo{
  border-radius: 50%;
}

a{
  cursor: pointer;
}